{% extends "base.html" %} {% block content %}
<!-- LOGIN FORM -->
<div id="login" class="container">
    <div class="row">
        <div class="row col s4">
            <h3>Login</h3>
        </div>
        <form class="col s12" 
               hx-post="/login/"
               hx-swap="innerHTML"
               hx-target="#login"                    
               method="post">
            <div class="row">
                <div class="input-field col s12">
                    <input id="username" type="email"  name= "username"  class="validate" />
                    <label for="email">Email</label>
                    <span
                        class="helper-text"
                        data-error="Please enter a valid email."
                        data-success=""></span
                    >
                </div>
            </div>
            <div class="row">
                <div class="input-field  col s12">
                    <input id="password" name="password" type="password" class="validate" />
                    <label for="password">Password</label>
                </div>
            </div>
            <div class="row col s4">
                <button class="btn waves-effect indigo darken-2 waves-light " type="submit" name="action">Submit
                    <i class="material-icons right">send</i>
                  </button>
            </div>
        </form>
        <div class="row col s4">
            <p>Don't have an account? <a href="/register/" class="">Register here.</a></p>
        </div>
    </div>
</div>
<!-- END LOGIN FORM -->
{% endblock %}
