{% extends "base.html" %} {% block content %}
<!-- LOGIN FORM -->
<div id="login" class="container">
    <div class="wrapper">
    <div class="row">
        <div class="row col s4">
            <h3>Login</h3>
        </div>
        <form  class="pure-form pure-form-stacked" 
               hx-post="/login/"
               hx-swap="innerHTML"
               hx-target="#login"                    
               method="post">
            <div class="row">
                <div class="pure-input-2-3">
                    <input id="email" type="email"  name= "email"  class="validate" required/>
                    <label for="email">Email</label>
                    <span
                        class="helper-text"
                        data-error="Please enter a valid email."
                        data-success=""></span
                    >
                </div>
            </div>
            <div class="row">
                <div class="pure-input-2-3">
                    <input id="password" name="password" type="password" class="validate" required/>
                    <label for="password">Password</label>
                </div>
            </div>
            <div class="pure-input-2-3">
                <button  class="pure-button pure-button-primary" type="submit" name="action">Submit
                    <i class="material-icons right">send</i>
                  </button>
            </div>
        </form>
        <div class="row col s4">
            <p>Don't have an account? <a href="/register/" class="">Register here.</a></p>
        </div>
    </div>
</div>
</div>
<!-- END LOGIN FORM -->
{% endblock %}
